
.card-flat {
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.logos {
  display: flex;
  align-items: baseline;
  * {
    padding: 5px;
  }
}
.infos {
  position:absolute;
  bottom: 0;
}
.text {
  margin-bottom: 55px;
}

